trigger: none

variables:
  imageName: 'myapp'
  dockerHubUsername: 'yrishe363'
  dockerHubPassword: 'Yocheved363'  

stages:
  # ------------------------------
  # Build and Push Docker Image
  # ------------------------------
  - stage: BuildAndPush
    displayName: "Build and Push Docker Image"
    jobs:
      - job: Build
        pool:
          name: my-agent-pool
        steps:
          - script: |
              docker login -u $(dockerHubUsername) -p $(dockerHubPassword)
            displayName: 'Login to Docker Hub'

          - script: |
              docker build -t $(dockerHubUsername)/$(imageName):latest .
            displayName: 'Build Docker Image'

          - script: |
              docker push $(dockerHubUsername)/$(imageName):latest
            displayName: 'Push Docker Image to Docker Hub'

